<h2>Basic operations<h2>

<h3>create a dataframe views<h3>

In [11]:
import pandas as pd
df = pd.read_csv('feed-views.log', sep="\t", names=['datetime','user'], engine='python')
df

                        datetime       user
0     2020-04-17 00:00:08.463179      artem
1     2020-04-17 12:01:23.743946      artem
2     2020-04-17 12:27:30.646665      artem
3     2020-04-17 12:35:44.884757      artem
4     2020-04-17 12:35:52.735016      artem
...                          ...        ...
1071  2020-05-21 18:45:20.441142  valentina
1072  2020-05-21 23:03:06.457819      maxim
1073  2020-05-21 23:23:49.995349      pavel
1074  2020-05-21 23:49:22.386789      artem
1075  2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

<h3>convert the datetime to the datetime64[ns] Dtype<h3>

In [12]:
df.datetime = pd.to_datetime(df.datetime)
df.datetime

0      2020-04-17 00:00:08.463179
1      2020-04-17 12:01:23.743946
2      2020-04-17 12:27:30.646665
3      2020-04-17 12:35:44.884757
4      2020-04-17 12:35:52.735016
                  ...
1071   2020-05-21 18:45:20.441142
1072   2020-05-21 23:03:06.457819
1073   2020-05-21 23:23:49.995349
1074   2020-05-21 23:49:22.386789
1075   2020-05-22 10:36:14.662600
Name: datetime, Length: 1076, dtype: datetime64[ns]

<h3>extract the year, month, day, hour, minute, and second from the values of that
column to the new columns<h3>

In [13]:
df["year"] = pd.DatetimeIndex(df.datetime).year
df["month"] = pd.DatetimeIndex(df.datetime).month
df["day"] = pd.DatetimeIndex(df.datetime).day
df["hour"] = pd.DatetimeIndex(df.datetime).hour
df["minute"] = pd.DatetimeIndex(df.datetime).minute
df["second"] = pd.DatetimeIndex(df.datetime).second
df

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 00:00:08.463179,artem,2020,4,17,0,0,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

<h3>create the new column daytime<h3>

In [14]:
cut_labels = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
cut_bins = [-1, 3, 6, 10, 16, 19, 23]
df['daytime'] = pd.cut(df['hour'], bins=cut_bins, labels=cut_labels)
df

,datetime,user,year,month,day,hour,minute,second,daytime
0,2020-04-17 00:00:08.463179,artem,2020,4,17,0,0,8,night
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23,afternoon
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30,afternoon
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44,afternoon
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20,early evening
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6,evening
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49,evening
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,evening
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14,morning

<h3>assign the column user as the index<h3>

In [34]:
df = df.set_index('user')
df

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 00:00:08.463179,2020,4,17,0,0,8,night
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

<h3>calculate the number of elements in your dataframe<h3>

<h4>use the method count()<h4>

In [35]:
df.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

<h4>in each time of day category using the method
value_counts()<h4>

In [36]:
df['daytime'].value_counts()

evening          509
afternoon        251
early evening    145
night            130
morning           36
early morning      5
Name: daytime, dtype: int64

<h3>sort values in your dataframe by hour, minute, and second in ascending order<h3>

In [37]:
df = df.sort_values(by=['hour', 'minute', 'second'])
df

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 00:00:08.463179,2020,4,17,0,0,8,night
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
...,...,...,...,...,...,...,...,...
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening

<h3>calculate the maximum of hour for the rows where the time of day is night<h3>

In [38]:
max_night_h = max(df['hour'].loc[df['daytime'] == 'night'])
max_night_h

3

<h3>calculate the minimum of hour for the rows where the time of day is morning<h3>

In [39]:
min_morning_h = (df['hour'].loc[df['daytime'] == 'morning']).min()
min_morning_h

8

<h3>find out who visited the page at those hours<h3>

In [53]:
df.loc[df['hour'] == max_night_h].index
# df.index.l

Index(['konstantin', 'konstantin', 'konstantin'], dtype='object', name='user')

In [54]:
df.loc[df['hour'] == min_morning_h].index

Index(['alexander', 'alexander'], dtype='object', name='user')

<h3>calculate the mode for the hour and daytime<h3>

In [55]:
df.hour.mode()

0    22
dtype: int64

In [56]:
df.daytime.mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

<h3>the 3 earliest hours in the morning and the corresponding usernames<h3>

In [59]:
df.loc[df['daytime'] == 'morning'].nsmallest(3, columns=['hour']).hour

user
alexander    8
alexander    8
alexander    9
Name: hour, dtype: int64

<h3>the 3 latest hours and the usernames<h3>

In [60]:
df.loc[df['daytime'] == 'morning'].nlargest(3, columns=['hour']).hour

user
konstantin    10
maxim         10
maxim         10
Name: hour, dtype: int64

<h3>the basic statistics for the columns<h3>

In [61]:
d_d = df.describe()
d_d

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.237918    29.628253    29.500929
std       0.0     0.335557     4.906567     6.971910    17.690920    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

<h3>the interquartile range for the hour<h3>

In [62]:
iqr = d_d.hour['75%'] - d_d.hour['25%']
iqr

9.0